body{
	margin: 0;
	padding: 0;
	background:#fff; /*#F9F9FA;*/
    font-family: 'Lato', sans-serif;
}



/**************HOMEPAGE STYLING****************/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #273337;			/* For the menu background color */
			}

li {
	float: left;
	border-right:1px solid #bbb;
		}

li:last-child {
	border-right: none;
		}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}

li a:hover:not(.active) {
	background-color: #111;
	}

.active 
	{
	background-color: #2597BE;			/* For the active block background color */
	}

hr 
	{ 
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	color: #273337;
	} 

.button1
	{
	background-color: #2597BE;
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin: 0 20px 30px 0;
	 height: 50px;
	width: 100px;
	}


/**************SIGN UP PAGE STYLING******************/
#wrapper{
	display: block;
	float: left;
}

#about
{
	width: 500px;
	height: 600px;
	background: #fff;
	margin: 40px;
	display: block;
	float: left;
}


form{
	width: 400px;
	padding: 40px 0 0 120px;
	display: block;
	float: left;


}

.form-header{
	background:#2597be;/*#273337;/*#50B948 /*#457778*/
	height: 40px;
	margin-top: 0;
	padding: 0;
	color: #fff;
	font-size: 24px;
	padding-top: 20px;
	border-radius: 10px 10px 0  0;
	box-shadow: 10px 10px 5px #888888;
	border-left: 1px solid black;

}

h5{
	margin: 0;
	text-align: center;
	letter-spacing: 1px;
}

 .form-body  a{
	text-decoration: none;
	color: #456788;
	font-weight: bold;

}

a:hover{
	cursor: pointer;
}


.form-body{
	background: #fff;
	padding: 20px;
	border-radius:0 0 10px 10px;
	color: #000;
	box-shadow: 10px 10px 5px #888888;
	border-left: 1px solid black;
}

.form-body input{
	margin: 10px;
	padding: 10px;
	width: 300px;
	border-radius: 10px;
	box-shadow: none;
	outline: none;
}

.form-body select{
	margin: 10px;
	padding: 10px;
	width: 300px;
	border-radius: 10px;
	box-shadow: none;
	outline: none;
}

#btn{
	width: 100px;
	margin-left: 120px;
	font-size: 15px;
	font-weight: bold;
	background: #273337;/*#2597be*/;
	color: #fff;

}


p{

	text-align: center;
}

label{
	font-size: 12px;
	text-align: center;
}


/*****************STYLE FOR SEARCH PAGE*******************/
#place-bar{
	width: 1150px;
	height: 100px;
	background: #222222;
	margin: 100px 0 0 60px;
	color: white;
	display: inline-block;
}

#place-bar a{
	color: #fff;
	text-decoration: none;
}

.place{
	width: 220px;
	height: 80px;
	padding: 20px 0 0 40px;
	display: inline-block;
	border-right: 1px solid #fff;

}

.departure{
	width: 220px;
	height: 80px;
	padding: 20px 0  0 40px;
	display: inline-block;
	border: none;
}

.arrival{
	width: 220px;
	height: 80px;
	padding: 20px 0  0 40px;
	display: inline-block;
	border-right: 1px solid #fff;
}

.seats{
	width: 220px;
	height: 80px;
	padding: 20px 0  0 40px;
	display: inline-block;
	border-right: 1px solid #fff;
	
}


#filter{
	width: 260px;
	height: 740px;
	background: #ccc;
	margin: 5px 0 0 60px;
	padding-top: 10px;
	float: left;
}

.airline{
	width: 180px;
	background: #fff;
	margin: 30px 0 0 30px; 
	height: 60px;
	padding: 25px 0 0 15px;
	text-align: center;
	border-radius: 5px;
	border-bottom: 2px solid red;
	border-top: 2px solid red;
}

/*******************DEFINING FLIGHT SCHEDULE*************/
#flights{
	width: 850px;
	height: 700px;
	background: #ccc;
	margin: 5px 0 0 40px;
	padding-top: 10px;
	float: left;

}

.flight{
	width: 800px;
	background: #fff;
	margin: 30px 0 0 30px; 
	height: 80px;
	border-radius: 5px;
	display: inline-block;
}

.flight p{
	display: inline-block;
	padding: 0 35px 0 5px;
	margin: 0;
}

.dep{
  display: inline-block;
   padding-right: 35px;
}

.arr{
   display: inline-block;
   padding-right: 35px;
}

.time{
   display: inline-block;
   padding-right: 35px;
}

.price{
   display: inline-block;
   padding-right: 30px;
}

.flight input{
	display: inline-block;
	width: 60px;
	margin: 20px 0  0 0;
}



/************interest page*************/
#aboutus{
	display:grid;
	grid-template-columns: 50% 50%;
	padding: 50px 90px 30px 60px; 
	color: #000;
	grid-gap: 90px 30px;
}

.team h2 a{
		color: navy;
		padding: 0;
		margin: 0;

}

.team{
	padding-top: 10px;
	line-height: 30px;
	text-align: justify;

}

#aboutus p{
	padding:0;
}

a{
	text-decoration: none;
}
